
.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 2fr 3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Navbar Navbar Navbar Navbar Navbar Navbar"
      ". prof-pic Prof-info Prof-info Prof-info ."
      ". Posts Posts Posts Posts .";
  }
  
.Navbar {
    grid-area: Navbar;
    background-color: black ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 90vh;

}
  
.Navbar > a {
    color: white;
    text-decoration: none;}

.prof-pic {
    grid-area: prof-pic;
    display: flex;
    align-items: center;
    
}


#profilepic {
    width: 100%;
    height: auto;
}

  
.Prof-info { 
    grid-area: Prof-info;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 5vw;
}

.Prof-info > h1 {
    align-self: center;
}
  
.Posts {
     grid-area: Posts;

}
  
  
/* .container > div { */
    /* border:2px solid black ; */
/* } */

.post-card {
    border: 1px solid black;
    padding: 1vh;
    margin: 1vh 0;
}

.card-links {
    display: flex;
    justify-content: space-around;
    
}

.card-links a {
    text-decoration: none;
    color: black;
}

.card-links a:hover {
    text-decoration: underline;
    color: black;
    background-color: aqua;
}