
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 2fr 3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Navbar Navbar Navbar Navbar Navbar Navbar"
      ". prof-pic Prof-info Prof-info Prof-info ."
      ". Posts Posts Posts Posts .";
  }
  
.Navbar {
    grid-area: Navbar;
    background-color: black ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 90vh;

}
  
.Navbar > a {
    color: white;
    text-decoration: none;}


.prof-pic 
  { grid-area: prof-pic;
}
  
.Prof-info { 
    grid-area: Prof-info;
}
  
.Posts {
     grid-area: Posts;
}
  
  
.container > div {
    border:2px solid black ;
}